<%= content_for :title, 'Studio Evolution Fitness - The Sessions' %>

<h1>TheSessions</h1>
<br>
<p> 
<h3>Our methodology is very simple.</h3>
<h3><span class="red"><em>Train with purpose</em></span></h3>
<hr>
<h3><span class="red slant"><em>Train with passion</em></span></h3>
<hr>
<h3><span class="red slant"><em>Refuel with the best nutrition available to you</em></span></h3>
<hr>
<h3><span class="red slant"><em>Rest & see you next session</em></span></h3>
<hr>
<br>
<p>We cycle our results based training plan in 12 week blocks which we have found to be the most effective method to track our client progress over a 3 month period. It is short enough to maintain a clean & clear focus on strength and conditioning goals whilst still being long enough to achieve sizeable gains over many disciplines in health & fitness.
</p><br><p>
These disciplines can vary from simple lifestyle changes to functional strength capabilities or cardiovascular threshold testing.
</p><br><p>
We do expect our clients to prepare their bodies prior to the session by investing in our purpose designed 5 Phase progressive warm up that is on display in our downstairs warm up area on a 55 inch digital display. These warm ups transition on a weekly basis to encourage education and variety when commencing a training session.
</p><br><p>
Once you are correctly warmed up which can be anywhere from 5 minutes to 30 minutes (depending on how early or late you arrive before your session) then the real training begins!
</p><br><p>
Your session content will largely depend on your current goals but we do encourage all clients to embrace as many facets of health & fitness as possible. Whether it be a need for greater postural awareness, testing your capacity in some threshold intervals on the Rower, Skier or outside running or improving your ability to perform a scaled body weight pull up we are all about balance and controlled progression. Too much or over repetitious movement patterns often form a well paved path to injuries and unnecessary fatigue.
</p><br><p>
You can compare your performance results with other clients or simply keep your training to just you and your Trainer to discuss in privacy. Whichever you choose, your Trainer will plan your progression from week to week over the 12 week period based on current performances & abilities.
</p><br><p>
You will also have full complimentary access to use our Training Studio from 530am-930am Monday-Saturday.
</p><br>
<h3><span class="red"><em>Ask yourself…Are you ready to start your own evolution?
</em></span></h3><hr>