<h1>GroupFitness</h1>
<br>
<h2>Become part of a team</h2>

<p>Our Group Fitness Training sessions create a vibrant atmosphere of youthful adventure, allowing you to explore your own strengths and capabilities in a team environment whilst still receiving individual attention.</p>

<p>Our unrivaled training methods coached through functional bodyweight strength exercises on our very own unique “Body Frame”, indoor cycling, walking/running & boxing/kickboxing will challenge every individual both physically and mentally.</p>

<p>We understand the complexity in today’s hectic world so our month by month training schedule eliminates lengthy contracts allowing you the freedom to choose your own exercise lifestyle.</p>

<p>Free yourself in our 55 minute classes.</p>

<p>Jason Howell heads up the Group fitness classes that will have your body in shape super quick!</p>
