<%= content_for :title, 'Studio Evolution Fitness - My Evolution' %>

<h1>MyEvolution</h1>
<br>
<h2>We train you with purpose </h2>
<br>
<p>Exercise is, and always should be fun.</p>
<p>Fitness training however, is a little different and will quite possibly mean that you are up for a bit of hard work mixed in with the fun stuff.</p>
<br>
<p>Ironically though, both require the exact same level of commitment, desire and patience as each other. At Studio Evolution Fitness we can train you for either or even both but first we need to know a little bit about you before we start training.</p>
<br>
<p>Bring us your purpose for training. Whether it be as simple as starting an exercise routine for weight loss or health reasons or as complex as rehabilitation or periodising your training for a race or event we will present you with a detailed action plan and a direction of focus.</p>
<br>
<p>Is it for your family…for your children? Is it for you or for your chosen sport or passion? Whatever your reasons are for coming to us we will train you with absolute purpose. Life is too short and too busy to get it wrong which is why we aim to get started on the most appropriate training plan from the beginning.</p>
<br>
<h2>We always start with a plan</h2>
<br>
<p>In a brief initial meeting with you we gather enough information in order to allow us to present a plan of how we can get the most effective results in a specific time frame.  </p>
<br>
<p>For success to be an option early on we must ensure that we tick all the boxes from the initial plan, making it ever the more important that we get it right from the beginning! Elements such as diet and time management will play a key role in achieving the results we want and must be considered carefully in the early stages of planning.</p>
<br>
<p>Whether you train once, twice or even three times a week in your plan here at My Evolution, we will accurately factor in what you may have to do by yourself on your own each week outside of your Personal Training sessions. The plan will always be consistent with achieving the best results in the quickest time possible.</p>
<br>
<p>We offer an unquestionable depth in quality coaching. Possessing an unrivalled combined experience of over 4o years in the fitness industry along with a burning desire to motivate our clients through a journey of compassion, science and systemised health management, we will present you with the opportunity to watch yourself change in ways you never thought possible.</p>

<br>
<h3><span class="red slant"><em>Your goals become our goals.</em></span></h3>
<hr>
<h3><span class="red slant"><em>Your commitment becomes our commitment.</em></span></h3>
<hr>
<h3><span class="red slant"><em>Your results… only you can take them home.</em></span></h3>
<hr>