
<div class="container">
	<div class="row">
		
		<div class="span4 offset8 pull-right panel">

			
			<%= link_to root_path do %>
			  <%= image_tag 'studio6.png', :class => "pull-right" %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="span6 offset6">
			<div class="slogan">
				<h2>Train with</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span5 offset7 slogan">
			<h2>&nbsp;&nbsp;PURPOSE</h2>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="span1 offset11">
			<div id="arrow">
				<a href="#"><i class="icon-circle-arrow-down icon-3x"></i></a>
			</div>
 
		</div>
	</div>
