<div class="container-fluid">
<div id="home">
	<div class="row-fluid">
		
		<div class="span4 offset8">

			<div class="logo-box pull-right panel">
			<%= link_to root_path do %>
			  <%= image_tag 'studio6.png', :class => "pull-right" %>
			<% end %>
			</div>
		</div>
	</div>
	
</div>
</div>
<div class="console">
        
        <!-- <span style="font-size: 18px;">events: </span><span id="eventListener" style="font-size: 18px;">(trace player events)</span> -->
        <br>
        <br>
        <button class="sel" onclick="jQuery('#bgndVideo').changeMovie('http://www.youtube.com/watch?v=Qdr0SsCm1Ao')"> Video 1   </button>
        <button onclick="jQuery('#bgndVideo').changeMovie('NkSGwb6lCTM')"> Video 2 </button>
    </div>
