<h1><%= @post.title %></h1>

<h3><small>Author: <%= @post.author %> Published: <%= @post.created_at.strftime('%e %h %Y') %></small></h3>
<hr>
	<div class="post-content">
		<%= @post.content.html_safe %>
	</div>
<hr>
