<h1>Studio Evolution Fitness - About us</h1>

<div class="span5 offset7">
<div class="panel">
<p>In September 2003, Studio Evolution Fitness opened its doors for the first time in a cosy little studio that served them well for many years. Located just a few blocks away from the hustle and bustle of Darling Street, their aim was to raise awareness of health and fitness in the Balmain/Rozelle community by assisting people to create their own personal evolution... to gradually change their habits and become a stronger, fitter, healthier and happier person.</p>
<p>Having outgrown their Reynolds Street premises, in December 2007 they had the opportunity to relocate closer to Darling Street. A multi-level, purpose built studio at 9 Palmer Street became the new home of Studio Evolution Fitness.</p>
</div></div>
