<%= content_for :title, 'Studio Evolution Fitness - Contact Us' %>


<h1>ContactUs</h1>

<div itemscope itemtype="http://schema.org/Organization">
<h2><span itemprop="name">My Evolution</span></h2>
<h3>Personal Training Studio</h3>
<p><div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
	<span itemprop="streetAddress">9 Palmer Street,</span><br>
	<span itemprop="addressLocality">Balmain</span> 
	<span itemprop="addressRegion">NSW</span> 
	<span itemprop="postalCode">2041</span>
	<a href="http://goo.gl/maps/2QCBp" target="_blank" alt="map link" title="Link to map" class="red dot"><i class="icon-map-marker"></i></a>
</div></p>
<p>
<span itemprop="telephone"><a href="tel:0295558722">(02) 9555 8722</a></span><br>
<span itemprop="email"><a href="mailto:marenjp@studioevolutionfitness.com">marenjp@studioevolutionfitness.com</a></span>
</p>
</div>

<br>
<div itemscope itemtype="http://schema.org/Organization">
<h2><span itemprop="name">Our Evolution</span></h2>
<h3>Group Fitness Gym</h3>
<p><div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
	<span itemprop="streetAddress">Suite 4, 347 Darling Street,</span> (Entrance via Short Street)<br>
	<span itemprop="addressLocality">Balmain</span> 
	<span itemprop="addressRegion">NSW</span> 
	<span itemprop="postalCode">2041</span> 
	<a href="http://goo.gl/maps/JUOOQ" target="_blank" alt="map link" title="Link to map" class="red dot"><i class="icon-map-marker"></i></a>
</div>
</p>
<p>
<span itemprop="telephone"><a href="tel:0295558978">(02) 9555 8978</a></span><br>
<span itemprop="email"><a href="info@ourevolutionfitness.com">info@ourevolutionfitness.com</a></span>
</p>
</div>